
        body,
        html {
            height: 100%;
        }

        #editor {
            height: 100%;
        }
        body > div:first-child {
            height: 70%;
            display: flex;
            flex-direction: column;
        }
        body > div:nth-child(2) {
            height: 30%;
            display: flex;
            flex-direction: column;
        }

        nav {
            font-family: 'Roboto', sans-serif;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        #console {
            height: 100%;
            margin: 0;
            font-family: 'Roboto', sans-serif;
        }
        [action] {
            cursor: pointer;
        }
        nav > span {
            display: block;
        }

        .btn-danger{
            margin: 5px;
        }

        .btn-danger{
            margin: 5px;
        }

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: unset;
}
